<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<div class="container">
    <section class="form-section">
        <h1 class="titulo-form">Cadastre-se</h1>

        <form th:action="@{/register}" th:object="${usuarioDTO}" method="post" class="form-content">
            <div>
                <input type="text" id="nome" th:field="*{nome}" placeholder="Nome Completo">
                <span class="error-msg" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>

                <input type="text" id="email" th:field="*{email}" placeholder="E-mail">
                <span class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

                <input type="password" id="senha" th:field="*{senha}" placeholder="Senha">
                <span class="error-msg" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>

                <input type="password" id="confirmarSenha" th:field="*{confirmarSenha}" placeholder="Confirmar Senha">
                <span class="error-msg" th:if="${#fields.hasErrors('confirmarSenha')}" th:errors="*{confirmarSenha}"></span>
            </div>

            <div class="form-button-container">
                <button type="submit">Cadastrar</button>
            </div>

            <p>
                <strong>Já tem cadastro?</strong>
                <div class="redirect-links">
                    <a th:href="@{/login}">Faça Login</a>
                </div>
            </p>
        </form>
    </section>
</div>
</body>
</html>