<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>
    <div class="container">
        <section class="form-section">
            <h1 class="titulo-form">Recuperar Senha</h1>

            <div th:if="${sucesso}" class="success-msg" th:text="${sucesso}"></div>

            <form th:action="@{/recoverpassword}" th:object="${recoveringPasswordDTO}" method="post" class="form-content">

                <div th:if="${mensagemSucesso}" style="color: green;" th:text="${mensagemSucesso}"></div>
                <div th:if="${mensagemErro}" style="color: red;" th:text="${mensagemErro}"></div>

                <div>
                    <span class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    <input type="text" th:field="*{email}" placeholder="Digite seu E-mail">
                </div>

                <div class="form-button-container">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </section>
    </div>
</body>

</html>